body {
  background-image: url("blue.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  z-index: 1;
}

.kictheader{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.background{
  background-repeat: no-repeat;
  background-size: contain;
}

.content {
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: scroll;
  width: 90%;
  height: 500px;
}

.dayOne {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.dayTwo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.dayThree{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.logo img{
  height: auto;
  width: 150px;
  float: right;
  padding-right: 30px;
}

nav{
  position: sticky;
  z-index: 2;
  top: 0;
  width: 100%;
}

.navbar {
  overflow: hidden;
  background-color: #20B2AA;

}

.navbar a {
  float: left;
  font-size: 18px;
  color: #F5FFFA;
  text-align: center;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 10px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: #F5FFFA;
  background-color: inherit;
  font-family: inherit;
  padding-top: 25px;
  padding-right: 10px;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #E0FFFF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

img{
height: auto;
width: 1520px;
}

.download {
  background-color: #1c87c9;
  border: none;
  color: white;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

#footer {
  background-color: #20B2AA;
  text-align: center;
  padding: 1px;
  margin-bottom: 0px;
  clear: both;
}
